<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>Servlets.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>Servlets.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>Servlets.UpdatePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryManageServlet</servlet-name>
        <servlet-class>Servlets.CategoryManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SandBox</servlet-name>
        <servlet-class>Servlets.SandBox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductControllerServlet</servlet-name>
        <servlet-class>Servlets.ProductControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryUpdateServlet</servlet-name>
        <servlet-class>Servlets.CategoryUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>Servlets.CreateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartManagementServlet</servlet-name>
        <servlet-class>Servlets.CartManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductUpdateServlet</servlet-name>
        <servlet-class>Servlets.ProductUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAdminAccountServlet</servlet-name>
        <servlet-class>Servlets.CreateAdminAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeDbCartProduct</servlet-name>
        <servlet-class>Servlets.removeDbCartProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>Servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productStatusChangeServlet</servlet-name>
        <servlet-class>Servlets.productStatusChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordEmailVerifyServlet</servlet-name>
        <servlet-class>Servlets.ForgotPasswordEmailVerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordVerifyCodeServlet</servlet-name>
        <servlet-class>Servlets.ForgotPasswordVerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordChangepassword</servlet-name>
        <servlet-class>Servlets.ForgotPasswordChangepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendContactMessageServlet</servlet-name>
        <servlet-class>Servlets.SendContactMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseServlet</servlet-name>
        <servlet-class>Servlets.PurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <servlet-class>Servlets.UpdateOrderStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userStatusChangeServlet</servlet-name>
        <servlet-class>Servlets.userStatusChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>Servlets.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductStockServlet</servlet-name>
        <servlet-class>Servlets.AddProductStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>Servlets.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartManagementRemoveSession</servlet-name>
        <servlet-class>Servlets.CartManagementRemoveSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductImageServlet</servlet-name>
        <servlet-class>Servlets.addProductImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>Servlets.SearchProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/UpdatePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryManageServlet</servlet-name>
        <url-pattern>/CategoryManageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SandBox</servlet-name>
        <url-pattern>/SandBox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductControllerServlet</servlet-name>
        <url-pattern>/ProductControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryUpdateServlet</servlet-name>
        <url-pattern>/CategoryUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/CreateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartManagementServlet</servlet-name>
        <url-pattern>/CartManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUpdateServlet</servlet-name>
        <url-pattern>/ProductUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAdminAccountServlet</servlet-name>
        <url-pattern>/CreateAdminAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeDbCartProduct</servlet-name>
        <url-pattern>/removeDbCartProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productStatusChangeServlet</servlet-name>
        <url-pattern>/productStatusChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordEmailVerifyServlet</servlet-name>
        <url-pattern>/ForgotPasswordEmailVerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordVerifyCodeServlet</servlet-name>
        <url-pattern>/ForgotPasswordVerifyCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordChangepassword</servlet-name>
        <url-pattern>/ForgotPasswordChangepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendContactMessageServlet</servlet-name>
        <url-pattern>/SendContactMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseServlet</servlet-name>
        <url-pattern>/PurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <url-pattern>/UpdateOrderStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userStatusChangeServlet</servlet-name>
        <url-pattern>/userStatusChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductStockServlet</servlet-name>
        <url-pattern>/AddProductStockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartManagementRemoveSession</servlet-name>
        <url-pattern>/CartManagementRemoveSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductImageServlet</servlet-name>
        <url-pattern>/addProductImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProductServlet</url-pattern>
    </servlet-mapping>
   
    
    <error-page>
        <error-code>404</error-code>
        <location>/errors/error404.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>401</error-code>
        <location>/errors/error401.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/errors/error500.jsp</location>
    </error-page>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>Classes.sessionCounter</listener-class>
    </listener>
</web-app>
